numpy==1.26.4
pandas==2.2.2
matplotlib==3.8.4
wordcloud==1.9.3
nltk==3.8.1
regex==2024.4.16
seaborn==0.13.2
textstat==0.7.3
textblob==0.18.0.post0
emoji==2.11.1
gensim==4.7.2
tiktoken==0.6.0
scikit-learn==1.4.2
sentence_transformers==2.7.0
spacy==3.7.4
feature_engine==1.7.0
optuna==3.6.1
tqdm==4.66.2
xgboost==2.0.3
lightgbm==4.3.0
tensorflow==2.16.1
keras==3.3.3
shap==0.45.1

