numpy
pandas
matplotlib
wordcloud
nltk
re
seaborn
textstat
textblob
emoji
gensim
tiktoken
scikit-learn
sentence_transformers
spacy
feature_engine
optuna
tqdm
xgboost
lightgbm
tensorflow
keras
os
shap
warnings
